* {}

section {
    background-color: #f3f2f6;
}

.tieude {
    color: #bc232a;
    font-size: 20px;
    text-align: center;
    
}
.bang{
    text-align: center;
    background-color: #ffffff;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 3px;
    margin-left: 3px;
}