*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table img{
    width: 22px;
    height: 25px;
}
main img{
    width: 340px;
    height: 237px;
}
main p:nth-of-type(1){
    font-size: 20px;
    color: #53566d;
    font-weight: 900;
}
main p:nth-of-type(2){
    color: #4e4e4e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}